.main_container_body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_container_body .container_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content_title_name h1{
    letter-spacing: 3px;
    text-align: center;
}
.container_image_form{
    margin-bottom: 25px;
}
.container_image_form .content_image img{
    width: 150px;
    height: auto;
}
.container_form .elements{
    display:flex;
    flex-direction: row;
}
.container_form .elements .input{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.icon{
    background-color: var(--bg_lila_100);
    color: var(--color_texto_blanco);
    width: 45px;
    height: 55px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons_content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.buttonLogin{
    background-color: var(--bg_lila_100);
    color: var(--color_texto_blanco);
    width: 200px;
    font-size: 0.8rem;
}
.buttonForgot{
    background-color: none;
    font-size: 0.8rem;
    color: rgb(127,103,190);
    margin-top: 10px;
}

.row {
    margin: 1%;
}

.btn-google:hover {
  
    background-color: #C23B33;
    border-color: #C23B33;
    color: #ffffff;
}

.btn-google {
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 1px #ddd;
    border-radius: 5px;
}

.btn {
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer
}