<div class="main_container_body">
  <div class="container_content">
    <div class="container_title_form">
      <div class="content_title_name">
      
      </div>
    </div>
    <div class="container_image_form">
      <div class="content_image">
        <img src="../../../../assets/images/Logo-Grupo-Viamatica.png" alt="">
      </div>
    </div>
    <div class="container_form">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="text-center">
        <label class="uppercase text-blue-900 font-semibold text-2xl content-center">Bienvenido</label>
      </div>
        <div class="elements mb-2 mt-4">
          <div class="icon">
            <mat-icon matPrefix>person</mat-icon>
          </div>
          
            <input type="text" class="input  rounded-lg border-gray-300" matInput autocomplete="off" formControlName="Correo" placeholder="Usuario">
          
        </div>
        
        <div class="elements">
          <mat-icon class="icon" matPrefix>vpn_key</mat-icon>
            <input id="input" class="input rounded-lg border-gray-300" [type]="hide ? 'password' : 'text'" matInput autocomplete="off" formControlName="Contrasena" placeholder="Contraseña">
         
        </div>
        
        <div class="pt-4 mb-4 mt-0 buttons_content w-100">
          <button class="btn buttonLogin">
              Iniciar Sesión 
          </button>
          <button class="btn buttonForgot" (click)="vistaRecuperarClave()">
            ¿Olvido su contraseña? 
        </button>
        </div>        
      </form>
      <div class="pt-1 mb-4 mt-0 buttons_content w-100 ">
        <button class="btn  btn-google text-uppercase btn-outline flex flex-row-reverse pr-4" (click)="login()">
          Sing in Google <img  src="https://img.icons8.com/color/22/000000/google-logo.png"> 
        </button>
      </div>
    </div>
  </div>
</div>