
  <div class="flex h-full w-full items-center rounded-lg p-40">
    <div id="cuadro" class="items-center justify-center rounded-lg  bg-slate-100 pt-10 pl-20 pr-20">
      <div class="mb-4 text-center">
        <label class="text-2xl font-bold text-violet-500">Registro de usuarios</label>
      </div>

      <form [formGroup]="form">
        <div class="mb-4">
          <label class="text-base font-semibold">Datos Personales</label>

          <div class="flex flex-row gap-4">
            <div class="">
              <label>Identificación:</label>
              <mat-form-field appearance="outline">
                <input type="text" maxlength="10" matInput formControlName="cedula" />
              </mat-form-field>
            </div>

            <div class="content">
              <label>Nombre Completo:</label>
              <mat-form-field class="mff" appearance="outline">
                <input type="text" maxlength="50" matInput formControlName="nombre" />
              </mat-form-field>
            </div>
          </div>

          <div class="flex flex-row gap-4">
            <div class="content_mail">
              <label>Correo:</label>
              <mat-form-field class="mff" appearance="outline">
                <input type="email" maxlength="60" matInput formControlName="correo" />
              </mat-form-field>
            </div>

            <div class="content">
              <label>Telefono:</label>
              <mat-form-field class="mff" appearance="outline">
                <input type="text" maxlength="10" matInput formControlName="telefono" />
              </mat-form-field>
            </div>
          </div>

          <div class="flex flex-row gap-4">
            <div class="content">
              <label>Direccion:</label>
              <mat-form-field class="mff" appearance="outline">
                <input type="text" maxlength="70" matInput formControlName="direccion" />
              </mat-form-field>
            </div>

            <div class="content">
              <label >
                Empresa:</label>
                <mat-form-field class="mff" appearance="outline">
              <mat-select class="select" formControlName="idEmpresa">
                <mat-option *ngFor="let empresa of listaEmpresas" [value]="empresa.idEmpresa">{{empresa.razonSocial}}</mat-option>
              </mat-select>
            </mat-form-field>
            </div>
          </div>
        </div>

        <!-- rol id -->
        <label class="text-lg font-semibold">Seguridad</label>
        <div class="flex flex-row gap-4">
          <div class="flex flex-row gap-4">
            <div class="">
              <label id="profile_label">Perfil:</label>
            </div>
              <mat-form-field class="mff" appearance="outline">
              <mat-select class="select" formControlName="idRol">
                <mat-option *ngFor="let rol of listaRoles" [value]="rol.idRol">{{rol.nombre}}</mat-option>
              </mat-select>
            </mat-form-field>
            

            <div class="active_profile">
              <label>Activo:</label>
             
              <mat-checkbox class="example-margin" formControlName="idEstado"></mat-checkbox>
            
            </div>
          </div>
        </div>

        <div class="flex justify-center  gap-4 pb-8">
          <button class=" block w-full bg-purple-600 rounded-md border-0 mr-4 p-2.5 py-1.5 pl-4 pr-4 text-white ring-0 ring-inset ring-gray-300 shadow-sm focus:ring-1 focus:ring-inset focus:ring-indigo-400 sm:text-sm sm:leading-6 hover:bg-indigo-800 placeholder:text-gray-600" type="submit" id="save" (click)="registrarUsuario()">Guardar</button>
          <button class="block w-full bg-purple-600 rounded-md border-0 mr-4 p-2.5 py-1.5 pl-4 pr-4 text-white ring-0 ring-inset ring-gray-300 shadow-sm focus:ring-1 focus:ring-inset focus:ring-indigo-400 sm:text-sm sm:leading-6 hover:bg-indigo-800 placeholder:text-gray-600" id="cancel" (click)="cerrarModal()">Cancelar</button>
        </div>
      </form>
    </div>
  
</div>
