@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.sidebar_container{
    width: 20vw;
    height: 100vh;
    font-family: "Montserrat", sans-serif; 
    position: absolute;
}

.container_logo{
    height: 20vh;
    width: 100%;
    background-color: rgb(127,103,190);
}
.container_logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.icon_content{
    opacity: 0;
}
.meph .mpt{
    display: flex;
    justify-content: left;
}

.content_image img{
    width: 100px;
}

.content_item .buttons_content button{
    background-color: none;
    border-radius: 0;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: 
    0px 0px 0px 0px rgba(0, 0, 0, 0.2), 
    0px 0px 0px 0px rgba(0, 0, 0, 0.14), 
    0px 0px 0px 0px rgba(0, 0, 0, 0.12); 
}

.buttons_content{
    width: 100%;
}

.button_content button{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.312);
}


@media screen and (max-width:500px) {
    .sidebar_container{
        width: 80vw;
        height: 100vh;
        font-family: "Montserrat", sans-serif; 
        position: absolute;
        background-color: #ffffff;
        opacity: 0;
        z-index: 1;
    }
    .container_logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .icon_content{
        width: 100%;
        height: 7vh;
        display: flex;
        justify-content: end;
        align-items: center;
        opacity: 1;
    }
    .icon_content button{
        background-color: transparent;
        height: 90%;
        width: 20%;
        border: none;
    }
    .icon_content button i{
        color:#ffffff;
        font-size: 1.5rem;
    }

    .sidebar_container.active {
        opacity: 1;
    }
}